@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --wood: #F4DDB5;
    --light-color: #cdaa7c;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*navbar style start*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--wood);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

header .logo img{
    height: 110px;
}

header .navbar a{
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: black;
    border: .1rem solid transparent;
}

header .navbar a.active,
header .navbar a:hover{
   color: #fff;
   border: .1rem solid rgba(250,170,124,0.2); 
}

header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--light-color);
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}

header .icons i:hover{
    color: #fff;
    background: var(--light-color); /*Esta linea realmente no es necesaria*/
    transform: rotate(360deg);
}

header .icons #menu{
    display: none;
}


/*MEDIA QUERYS*/
@media(max-width: 991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    header .logo img{
        height: 7rem;
    }
}

@media(max-width: 768px){
    /*Navbar media query*/

    header .logo img{
        height: 7rem;
    }
    header .icons #menu{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(250,170,124,0.2);
        border-bottom: .1rem solid rgba(205,170,124,0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--wood);
    }
}